 <div class="flex-center form-wrapper">
     <mat-card class="form-size">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <form class="flex-container flex-column-direction">
            <mat-form-field class="flex-item">
                <input placeholder="username" matInput />
            </mat-form-field>  
            <mat-form-field class="flex-item">
                <input type="password" placeholder="password" matInput />
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="button-size flex-item">Login</button>
        </form>
     </mat-card>
</div> 

