.form-size {
    width: 20%;
    height: auto;
    min-width: 500px;
    padding: 1%;
    border: 1px solid black;
}

.form-wrapper {
    height: 90%;
    width: 100%;
}

.button-size {
    width: 30%;
    max-height: 20%;
}


.mat-form-field {
  width: 100%;
  min-width: 300px;
}


