<div class="flex-center form-wrapper">
    <mat-card class="form-size">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <form class="flex-container flex-column-direction ">
            <mat-form-field class="flex-item">
                <input placeholder="Username" matInput />
            </mat-form-field>  
            <mat-form-field class="flex-item">
                <input type="password" placeholder="Password" matInput />
            </mat-form-field>
            <mat-form-field class="flex-item">
                <input type="password" placeholder="Confirm Password" matInput />
            </mat-form-field>
            <mat-form-field class="flex-item">
                <input placeholder="Email" matInput />
            </mat-form-field>
            <mat-form-field class="flex-item">
                <input placeholder="Full Name" matInput />
            </mat-form-field>
            <mat-form-field class="flex-item">
                <input placeholder="Profile Picture URL" matInput />
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="button-size flex-item">Register</button>
        </form>
    </mat-card>
    
</div>

