<div class="flex-center form-wrapper">
    <mat-card class="form-size">
        <mat-card-header class="flex-center">
            <mat-card-title style="font-size: 2em;">Register</mat-card-title>
        </mat-card-header>
        <app-register-form [formGroup]="formGroup" [buttonName]="'Register'" (buttonClick)="buttonClick($event)"></app-register-form>
        <div style="margin-top: 10%;">
            <span>Already have an account?</span>
            <span style="font-size: 110%; color:blue; margin-left: 2%;" routerLink="/login" >Login Here!</span>
        </div>
    </mat-card>
</div>

