<div class="example-container">
    <form class="flex-container flex-column-direction" style="margin:5%;" [formGroup]="formGroup" #form (submit)="onSubmit()" >
    <mat-form-field appearance="outline">
      <mat-label>Search by Event Name...</mat-label>
      <input matInput placeholder="Event name" matInput formControlName="eventNameField">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Search by Event Type...</mat-label>
        <input matInput placeholder="Event Type" matInput formControlName="eventTypeDropDownMenuItem">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Search by Location...</mat-label>
        <input matInput placeholder="Event Location" matInput formControlName="locationNameField">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Search by Date of the Event and dates before it...</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Date of the event (and before) (MM/DD/YYYY)" formControlName="eventDate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      

    <div class="flex-container flex-center">
        <button type="submit" mat-raised-button color="primary" class="button-size ">Search Events</button>
    </div>
    </form>
  </div>
  