/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%; 
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,95,175,1) 0%, rgba(0,212,255,1) 100%);
     margin: 0;
     font-family: sans-serif;
    }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-item {
    flex:1 ;
}

.flex-container {
    display: flex;
}

.flex-column-direction {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

mat-card-title,
mat-card-content {
display: flex;
justify-content: center;
}